extends: eslint:recommended

env:
  commonjs: true
  browser: true
  es6: false
  node: false

rules:
  #no-var: 2
  no-unused-vars: [2, {"args": "none"}]
  consistent-return: 0
  no-fallthrough: 2
  #no-case-declarations: 2
  default-case: 2
  indent: [2, 4]
  semi: 2
  camelcase: 0
