<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <title>gwendoux.com</title>
  <link rel="stylesheet" type="text/css" href="/css/main.min.css">
</head>
<body>
  <header class="cover-wrapper">
    <div class="name fancy-font">
          gwendoux.com
    </div>
        <div class="titles">
          <h1>Hello! <span>I'm Gwen</span></h1>
          <h2>I'm make stuff on the internets</h2>
        </div>
        <div class="social">
          <a class="ss-octocat" href="https://github.com/gwendoux/">Github</a>
          <a class="ss-twitter" href="https://twitter.com/gwendoux">Twitter</a>
          <a class="ss-pinboard" href="https://pinboard.in/u:Gwendoux">Pinboard</a>
          <a class="ss-instagram" href="https://instagram.com/gwendoux/">Instagram</a>
        </div>
    </header>

      <section class="content-wrap">
        <div class="container">
          <div class="row">
            <h2>Overview</h2>
            <div class="col-md-12 col-xs-12">
                <p>Hi there!</p>
                <p>I'm a web developer/UX designer from Paris. I'm mostly work on product from my employer, the "Compagnie nationale des commissaires aux comptes" (<a href="https://www.cncc.fr">www.cncc.fr</a>). Day to day I'm working with tools like LESS, Grunt, Git and Javascript but since january 2015, I'm focused on delivery a webapp powered by Ember.</p>
                <p>I also give some times to read and share very articles I found interesting for me or for my co-workers. I publish almost every day a tiny newsletter with links.</p>
                <p>Other interests include coffee, food, magazines, video games, documentary movies and trekking.</p>
                <p>I'm particulery interest on doing things <strong>the right way</strong> and <strong>with passion</strong>. I try to cook or DIY things like I work.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="content-wrap">
        <div class="container">
          <div class="row">
          <h2>Things I can do</h2>
            <div class="col-md-12">
              <ul>
                <li>Front End Architecture</li>
                <li>UX/UI prototype</li>
                <li>General JavaScript and jQuery development</li>
                <li>Ember applications and components</li>
                <li>RWD (Responsive web design) development</li>
                <li>Mobile web sites and web app</li>
                <li>Front end Ops</li>
                <li>Web performance</li>
                <li>Process and standards development</li>
              </ul>
            </div>

            <div class="col-md-12">
            <h2>Tools I use everyday</h2>
              <ul>
                <li>HTML/css</li>
                <li>Javascript/JQuery</li>
                <li>EmberJs</li>
                <li>Grunt/Node</li>
                <li>Git</li>
                <li>Nginx</li>
                <li>Shell</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="content-wrap">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div id="coffeebeans" class="instagram-content">
                <h3>Latest Coffee Beans <small>#coffeeoftheday</small></h3>
                <div class="row photos-wrap">
                  <div id="instafeed">
                    <div class="text-centered">
                      <img src="https://media.giphy.com/media/dIw6T67vqxfCo/giphy.gif" />
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4>Get in touch</h4>
              <a class="contact-now-btn" href="mailto:gwen@gwendoux.com">gwen@gwendoux.com</a>
              <a class="contact-now-btn" href="https://twitter.com/gwendoux">@gwendoux</a>
            </div>
          </div>
        </div>
      </footer>
      <section class="footer-bottom">
        <section class="footer-bottom">
          2015 &copy; Gwen Doux. <a href="https://github.com/gwendoux/gwendoux">see what' going on under</a>
        </section>
      </section>
      <script type="text/javascript" src="/js/script.min.js"></script>
    </body>
    </html>
