@font-face {
  font-family: 'Megrim';
  src: url('/fonts/Megrim-subset.woff') format('woff');
  font-style:   normal;
  font-weight:  400;
}

/*@font-face {
  font-family: 'Roboto Bold';
  src: url('/fonts/Roboto-Bold.woff') format('woff');
  font-style:   normal;
  font-weight:  700;
}*/

@font-face {
  font-family: 'Roboto Light';
  src: url('/fonts/Roboto-Light-subset.woff') format('woff');
  font-style:   normal;
  font-weight:  200;
}



@font-face {
  font-family: 'Roboto Thin';
  src: url('/fonts/Roboto-Thin-subset.woff') format('woff');
  font-style:   normal;
  font-weight:  200;
}
