{% extends "./layout/layout.html" %}

{% block content %}
  <header class="cover-wrapper">
    <div class="name fancy-font">
          gwendoux.com
    </div>
    <div class="titles">
      <h1>Hello! <span>I'm Gwen</span></h1>
      <h2>I make stuff on the Internets</h2>
    </div>
    <div class="social">
      <a class="ss-icon" href="https://pinboard.in/u:Gwendoux" rel="me">
        <svg class="icon-ss-pinboard"><use xlink:href="#icon-ss-pinboard"></use></svg>
      </a>
      <a class="ss-icon" href="https://github.com/gwendoux/" rel="me">
        <svg class="icon-ss-github"><use xlink:href="#icon-ss-github"></use></svg>
      </a>
      <a class="ss-icon" href="https://twitter.com/gwendoux" rel="me">
        <svg class="icon-ss-twitter"><use xlink:href="#icon-ss-twitter"></use></svg>
      </a>
      <a class="ss-icon" href="https://fr.linkedin.com/in/gwendoux" rel="me">
        <svg class="icon-ss-linkedin"><use xlink:href="#icon-ss-linkedin"></use></svg>
      </a>
      <a class="ss-icon" href="https://instagram.com/gwendoux/" rel="me">
        <svg class="icon-ss-instagram"><use xlink:href="#icon-ss-instagram"></use></svg>
      </a>
    </div>
    <div class="scroll-to-next">
      <a href="#next">
        <svg class="arrows" >
			<path d="M0 20 L30 52 L60 20"></path>
		</svg>
      </a>
    </div>
    </header>

      <section class="content-wrap">
        <div class="container">
          <div class="row">
            <h2 id="next" class="overview-header">Overview</h2>
            <div class="col-md-12 col-xs-12">
                <p>Hi there!</p>
                <p>I'm a front-end developer based in Montpellier. I also do UX design and Node.js development.</p>
                <p>I also spend time reading and sharing articles I found interesting. I publish almost every day a newsletter with these links.</p>
                <p>My other interests include coffee, food, magazines, photography, documentary movies and hiking.</p>
                <p>I especially like doing things <strong>the right way</strong> and <strong>with passion</strong>, whether it be for work or in my personal life.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-xs-12">
              <h3>Things I can do</h3>
              <ul>
                <li>Front End Architecture</li>
                <li>UX/UI prototype</li>
                <li>Responsive and responsible web design and development</li>
                <li>Mobile web sites and web app</li>
                <li>General JavaScript and jQuery development</li>
                <li>Ember applications and components</li>
                <li>Front-end devOps</li>
                <li>Web performance</li>
                <li>Process and standards development</li>
              </ul>
            </div>

            <div class="col-md-6 col-xs-12">
              <h3>Tools I use everyday</h3>
              <ul>
                <li>HTML/CSS</li>
                <li>LESS/PostCSS</li>
                <li>Javascript/JQuery</li>
                <li>Ember</li>
                <li>Node</li>
                <li>Grunt/NPM</li>
                <li>Git</li>
                <li>Nginx</li>
                <li>Shell</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="content-wrap-alt">
        <div class="container">
          <div class="row">
            <h2 class="special-header">
              Reading List <small>#somethingtoread</small>
            </h2>
            <div id="pinboardfeed" class="reading-list hide-items">
              {% include "./partials/_loader.html" %}
            </div>
          </div>
        </div>
      </section>

      <section class="content-wrap">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div id="coffeebeans" class="instagram-content">
                <h2 class="special-header" >Latest Coffee Beans <small>#coffeeoftheday</small></h2>
                <div class="row photos-wrap">
                  <div id="instafeed">
                    {% include "./partials/_loader.html" %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4>Get in touch</h4>
              <a class="contact-now-btn" href="mailto:gwen@gwendoux.com" rel="me">gwen@gwendoux.com</a>
              <a class="contact-now-btn" href="/resume.html">Online Resume (french)</a>
              <a class="contact-now-btn" href="https://twitter.com/gwendoux" rel="me">@gwendoux</a>
            </div>
          </div>
        </div>
      </footer>
      <section class="footer-bottom">
        2015 &copy; Gwen Doux. <a href="https://github.com/gwendoux/gwendoux" rel="me">see what' going on under</a>
      </section>
{% endblock %}
