<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

	<title>Gwenaël Doux</title>
	<link rel="preload" href="/fonts/Roboto-Light-subset.woff">
	<link rel="stylesheet" href="/css/resume.min.css">

	<script type="text/javascript">
	var ajax = new XMLHttpRequest();
		ajax.open("GET", "svg/ss--resume-icons.svg", true);
		ajax.send();
		ajax.onload = function(e) {
			var div = document.createElement("div");
			div.innerHTML = ajax.responseText;
			document.body.insertBefore(div, document.body.childNodes[0]);
		}
	</script>
	</head>
	<body>

	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-sm-push-3">
					<h1>
						Gwenaël Doux
					</h1>
					<h2>
						Dévelopeur Front-End
					</h2>
				</div>
			</div>
		</div>
		<aside class="file-download">
			<a href="https://dl.dropboxusercontent.com/u/133340/cv-gwenael-doux.pdf" class="file-download-link">
				<svg class="icon-file-pdf"><use xlink:href="#icon-octicon-file-pdf"></use></svg>
				Télécharger le PDF
			</a>
		</aside>
	</header>
	<div id="content" class="container">

	<section id="contact" class="row">
		<aside class="col-sm-3">
			<h3>Contact</h3>
		</aside>
		<div class="contact-list col-sm-9">
			<div class="row">
			<div class="contact-email col-xs-5 col-sm-4">
				<svg class="icon-mail"><use xlink:href="#icon-octicon-mail"></use></svg>
				<strong>Email</strong>
				<div class="email"><a href="mailto:gwen@gwendoux.com">gwen@gwendoux.com</a></div>
			</div>
			<div class="contact-twitter col-xs-4 col-sm-3">
				<strong class="network">
					<svg class="icon-twitter"><use xlink:href="#icon-ss-twitter"></use></svg>
					Twitter
				</strong>
				<div class="username">
					<div class="url">
						<a href="https://twitter.com/gwendoux">@gwendoux</a>
					</div>
				</div>
			</div>
			<div class="contact-github col-xs-3 col-sm-3">
				<strong class="network">
					<svg class="icon-github"><use xlink:href="#icon-ss-github"></use></svg>
					Github
				</strong>
				<div class="username">
					<div class="url">
						<a href="https://github.com/gwendoux">gwendoux</a>
					</div>
				</div>
			</div>
			</div>
		</div>
	</section>

	<section id="about" class="row">
		<aside class="col-sm-3">
			<h3>A propos</h3>
		</aside>
		<div class="col-sm-9">
			<p>Je suis un <strong>développeur/designer web entre Paris et Montpellier</strong>. Après des études couvrant un large spectre (d'un technique DUT en réseau à un master en sciences de l'Information en passant par une maîtrise en cinéma scientifique), je me retrouve comme développeur/designeur pour la CNCC de puis décembre 2006. </p>
			<p>Ma <strong>passion pour l'information et le web</strong> m'ont amené à <strong>partager</strong> toutes mes lectures, d'abord avec mes collègues via une lettre d'information quotidienne puis de manière ouverte via différents réseaux sociaux.</p>
			<p>J'aime me plonger complètement dans un projet, rechercher et <strong>utiliser les ressources les plus adaptées</strong>, autant dans ma vie personnelle que professionnelle.</p>
		</div>
	</section>

	<section id="work" class="row">
		<aside class="col-sm-3">
			<h3>Expériences</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			<div class="col-sm-12">
				<h4 class="strike-through">
					<span>Dévelopeur Front-End -- UI/UX Design</span>
					<span class="date">
						depuis décembre 2006
					</span>
				</h4>
				<div class="website pull-right">
					<a href="http://www.cncc.fr">http://www.cncc.fr</a>
				</div>
				<div class="position">
					CNCC (Compagnie nationale des commissaires aux comptes)
				</div>
				<div class="summary">
					<p>La Compagnie nationale des commissaires aux comptes (CNCC) est l'instance représentative de la profession en France. Structure dynamique, elle agit auprès des professionnels, des pouvoirs publics, des régulateurs et anime l'ensemble du réseau régional.<br /><small>source: <a href="https://www.cncc.fr/organisation.html">cncc.fr</a></small></p>
				</div>
				<h4>Missions</h4>
				<ul class="highlights">
					<li>
						<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
						développement d'une application documentaire Ember / Node</li>
					<li>
						<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
						création d'un application de construction de sommaire d'ouvrage (Ember)</li>
          <li>
						<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
						prototypage d'une webapp documentaire desktop/mobile avec un mode hors ligne (Ember / Cordova)</li>
					<li>
						<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
						refonte des pages d'accueil du portail de la CNCC</li>
          <li>
						<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
						mise en place d'outils de gestion des ressources et de tâches pour le dévelopement et la construction d'applications au sein de la SI </li>
					<li>
						<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
						création d'une application de gestion de demande de publication (html/css/javascript/java) : spécifications, schéma des données, interface de navigation, design et developpement du front-end, intégration des jsp</li>
					<li>
						<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
						gestion et développement du site institutionnel,  du mini-site sur la réforme européenne, du portail documentaire et de l'intranet + emailing : design et intégration des emails</li>
					<li>
						<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
						gestion du site institutionnel, du portail documentaire et de l'intranet + emailing : design et intégration des emails</li>
				</ul>
			</div>

			<div class="col-sm-12">
				<h4 class="strike-through">
					<span>Architecture / Intégration</span>
					<span class="date">
						mai 2006 – septembre 2006
					</span>
				</h4>
				<div class="website pull-right">
					<a href="http://www.orange.fr">http://www.orange.fr</a>
				</div>
				<div class="position">
					Orange
				</div>
				<div class="summary">
					<p>Orange est une entreprise française de télécommunications. Elle employait en 2010 près de 172 000 personnes, dont 105 000 en France, et sert en 2013 près de 2366 millions de clients dans le monde ...<br /><small>source: <a href="https://fr.wikipedia.org/wiki/Orange_(entreprise)/">wikipedia</a></small></p>
				</div>
				<h4>Missions</h4>
					<ul class="highlights">
						<li>
							<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
							Mission au sein de l'équipe Normes d'Orange </li>
						<li>
							<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
							Mise en place d'une plateforme wiki comme outils d'écriture collaborative</li>
						<li>
							<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
							Restructuration et adaptation de la version papier vers la plateforme numérique</li>
						<li>
							<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
							Sécurisation et gestion des droits</li>
						<li>
							<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
							Formation courte des différents utilisateurs sous forme de webinar (équipe multilingue sur plusieurs pays)</li>
					</ul>
			</div>

			<div class="col-sm-12">
				<h4 class="strike-through">
					<span>Assistant des bibliothèques</span>
					<span class="date">
						décembre 2004 - septembre 2005
					</span>
				</h4>
				<div class="position">
					Médiathèque Issy les Moulineaux
				</div>
				<div class="summary">
					<p></p>
				</div>
				<h4>Missions</h4>
					<ul class="highlights">
						<li>
							<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
							Accueil et renseignements auprès des usagers</li>
						<li>
							<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
							Gestion de fond documentaire (musique puis jeunesse)</li>
						<li>
							<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>
							Gestion d’équipe lors des heures publiques</li>
					</ul>
			</div>
			<div class="col-sm-12">
				<div class="">
					Médiathèque - Issy les Moulineaux
				</div>
				<h5 class="margin-top strike-through">
					<span>Vacataire</span>
					<span class="date">
						septembre 2003 – novembre 2004
					</span>
				</h5>

				<div class="">
					Les films du requin - Paris
				</div>
					<h5 class="margin-top strike-through">
					<span>Assistant de production</span>
					<span class="date">
						mars 2004 - juin 2004
					</span>
				</h5>

				<div class="">
					Service d’Information du Premier Ministre - Paris
				</div>
					<h5 class="margin-top strike-through">
					<span>Analyste rédacteur</span>
					<span class="date">
						juillet - août 2003
					</span>
				</h5>

				<div class="">
					France 5 - Issy les Moulineaux
				</div>
					<h5 class="margin-top strike-through">
					<span>Webmaster site Education</span>
					<span class="date">
						juin – août 2002
					</span>
				</h5>


				<div class="">
					Dixit-com - Nantes
				</div>
					<h5 class="margin-top strike-through">
					<span>Infographiste/Webmaster</span>
					<span class="date">
						juin - août 2001
					</span>
				</h5>


				<div class="">
					Bleu Corail - Paris
				</div>
					<h5 class="margin-top strike-through">
					<span>Webmaster</span>
					<span class="date">
						juillet – août 2000
					</span>
				</h5>
			</div>
		</div>
	</section>

	<section id="education" class="row">
		<aside class="col-sm-3">
			<h3>Formations</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			<div class="col-sm-12">
				<h4 class="strike-through">
					<span>ENSSIB - Lyon 1</span>
					<span class="date">
						2005 – 2006
					</span>
				</h4>
				<div class="area">
					<svg class="icon-mortar-board"><use xlink:href="#icon-octicon-mortar-board"></use></svg>
					Sciences de l'Information
				</div>
				<div class="studyType">
					Master pro<br />
					option Gestion et traitement de l’information en entreprise
				</div>
				<ul class="courses">
					<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>Mémoire sur les Wikis et l'écriture collaborative</li>
				</ul>
			</div>
			<div class="col-sm-12">
				<h4 class="strike-through">
					<span>Université Paris 7 - Jussieu</span>
					<span class="date">
						2002 – 2004
					</span>
				</h4>
				<div class="area">
					<svg class="icon-mortar-board"><use xlink:href="#icon-octicon-mortar-board"></use></svg>
					Information et communication scientifiques et techniques
				</div>
				<div class="studyType">
					Maîtrise
				</div>
				<ul class="courses">
					<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>Mémoire sur la production et diffusion du cinéma numérique</li>
					<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>Documentaire, "Les ondes urbaines", sur les antennes relais de téléphonie mobile et la charte de Paris</li>
				</ul>
			</div>

			<div class="col-sm-12">
				<h4 class="strike-through">
					<span>IUT Laval</span>
					<span class="date">
						1999 - 2001
					</span>
				</h4>
				<div class="area">
					<svg class="icon-mortar-board"><use xlink:href="#icon-octicon-mortar-board"></use></svg>
					Services et réseaux de communication
				</div>
				<div class="studyType">
					DUT
				</div>
				<!--<h4>Courses</h4>
				<ul class="courses">
					<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>DB1101 - Basic SQL</li>
					<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>CS2011 - Java Introduction</li>
				</ul>-->
			</div>

			</div>
		</div>
	</section>

	<!--<section id="publications" class="row">
		<aside class="col-sm-3">
			<h3>Publications</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			<div class="col-sm-12">
				<h4 class="strike-through">
					<span>Wiki for small entreprise groups</span>
					<span class="date">
						2006
					</span>
				</h4>
				<div class="website pull-right">
					ENSSIB website
				</div>
				<div class="publisher">
					<em>Published by</em>
					<strong>ENSSIB</strong>
				</div>
				<div class="summary">
					<p>Work implemantation of a wiki as wrinting tool for a small group of telecom engineer</p>
				</div>
			</div>

			<div class="col-sm-12">
				<h4 class="strike-through">
					<span>Production et diffusion du cinéma numérique</span>
					<span class="date">
						2004
					</span>
				</h4>
				<div class="website pull-right">
					<a href=""></a>
				</div>
				<div class="publisher">
					<em>Published by</em>
					<strong>Paris 7 - Jussieu</strong>
				</div>
				<div class="summary">
					<p>Quel avenir pour la production et la diffusion de film a l'approche de la révolution du numérique</p>
				</div>
			</div>
			<div class="col-sm-12">
				<h4 class="strike-through">
					<span>Les ondes urbaines</span>
					<span class="date">
						2004
					</span>
				</h4>
				<div class="website pull-right">
					<a href=""></a>
				</div>
				<div class="publisher">
					<em>Published by</em>
					<strong>Paris 7 - Jussieu</strong>
				</div>
				<div class="summary">
					<p>Co-réalisation d'un documentaire court sur les antennes-relais de téléphonie mobile et la charte de Paris</p>
				</div>
			</div>

			</div>
		</div>
	</section>-->

	<section id="skills" class="row">
		<aside class="col-sm-3">
			<h3>Compétences</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			<div class="col-sm-6">
				<div class="name">
					<h4>Dévelopement Web</h4>
				</div>
				<ul class="keywords">
					<svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>HTML</li>
					<li><svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>CSS / LESS / PostCSS</li>
					<li><svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>Javascript (Jquery / Ember / Node)</li>
					<li><svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>PHP</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<div class="name">
					<h4>Outils système</h4>
				</div>
				<ul class="keywords">
					<li><svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>Git</li>
					<li><svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>Grunt</li>
					<li><svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>Shell</li>
				</ul>
			</div>
			</div>
		</div>
	</section>

	<section id="languages" class="row">
		<aside class="col-sm-3">
			<h3>Langues</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			<div class="col-sm-6">
				<!--<div class="language">
					<strong>French</strong>
				</div>
				<div class="fluency">
					Native speaker
				</div>-->
				<div class="language">
					<strong>Anglais</strong>
				</div>
				<div class="fluency">
					Compétence professionnelle
				</div>
			</div>
			</div>
		</div>
	</section>

	<section id="interests" class="row">
		<aside class="col-sm-3">
			<h3>Interêts</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			<div class="col-sm-6">
				<ul class="keywords">
					<li><svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>Randonnée</li>
					<li><svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>Cinéma</li>
					<li><svg class="icon-dot"><use xlink:href="#icon-octicon-dot"></use></svg>Le café et la cuisine</li>
				</ul>
			</div>
			</div>
		</div>
	</section>

	<!--<section id="references" class="row">
		<aside class="col-sm-3">
			<h3>References</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			<div class="col-sm-12">
				<blockquote class="reference">
					<p>It is my pleasure to recommend Richard, his performance working as a consultant for Main St. Company proved that he will be a valuable addition to any company.</p>
					<p class="name">
						<strong>— Erlich Bachman</strong>
					</p>
				</blockquote>
			</div>
			</div>
		</div>
	</section>-->

	</div>

	</body>
</html>
