<!DOCTYPE html>
<html lang="en">
{# <html manifest="manifest.appcache" lang="en"> #}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>gwendoux.com</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="preconnect" href="/fonts/Megrim-subset.woff">
  <link rel="preconnect" href="/fonts/Roboto-Light-subset.woff">
  <link rel="preconnect" href="/fonts/Roboto-Thin-subset.woff">
  <link rel="stylesheet" type="text/css" href="/css/main.min.css">
  <script async src="/js/script.min.js"></script>
  <script type="text/javascript">
    WebFontConfig = {
      custom: {
        families: ['Megrim', 'Roboto Light', 'Roboto Thin']
      },
      active: function() {
        sessionStorage.fonts = true;
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
</head>
<body>

  {% block content %} {% endblock %}

</body>
</html>
